page-list {
    .followButton {
        float: right;
    }
     .postButton {
        float: right;
    }
    .profile_btn{
        padding-left: 0px;
        font-size: 14px;
        margin: 0px;
    }
}