<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton="true" color="header">
        <ion-buttons left>
            <button ion-button (click)="dismiss()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>User profile</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-toolbar class="p0 profilePic" style="min-height: 74px;text-align: center;">
        <ion-list no-lines class="p0 m0">
            <ion-item class="p8" color="bgcolor">
                <ion-avatar style="text-align:center!important">
                    <img *ngIf="!url1" src="https://s-media-cache-ak0.pinimg.com/236x/26/44/4f/26444f66c8cfe2798e892a669e4df8cf--avatar.jpg">
                    <img *ngIf="url1" src="{{url1}}">
                </ion-avatar>
            </ion-item>
        </ion-list>
    </ion-toolbar>
        <ion-list >
            
            <ion-item>
                 Name
                <ion-note item-end>
                     {{profileData.firstname}} {{profileData.lastname}}
                </ion-note>
            </ion-item>
            <ion-item>
                 Email
                <ion-note item-end>
                     {{profileData.email}}
                </ion-note>
            </ion-item>
            <ion-item>
                 Phone
                <ion-note item-end>
                    {{profileData.phone}}
                </ion-note>
            </ion-item>
            <ion-item>
                 DOB
                <ion-note item-end>
                    {{profileData.dob}}
                </ion-note>
            </ion-item>
            <ion-item>
                 Gender
                <ion-note item-end>
                    {{profileData.gender}}
                </ion-note>
            </ion-item>
            <ion-item>
                 Marital Status
                <ion-note item-end>
                    {{profileData.maritalStatus}}
                </ion-note>
            </ion-item>
            <ion-list *ngIf="profileData.lastEducation" class="m0">
                <ion-list-header color="labelcolor">Last Education
                </ion-list-header>
                <ion-item>
                     Degree
                    <ion-note item-end>
                        {{profileData.lastEducation.degree}}
                    </ion-note>
                </ion-item>
                <ion-item>
                     College
                    <ion-note item-end>
                        {{profileData.lastEducation.college}}
                    </ion-note>
                </ion-item>
                <ion-item>
                     Year
                    <ion-note item-end>
                        {{profileData.lastEducation.eduYear}}
                    </ion-note>
                </ion-item>
                <ion-item>
                     Major's
                    <ion-note item-end>
                        {{profileData.lastEducation.major}}
                    </ion-note>
                </ion-item>
            </ion-list>

            <ion-list *ngIf="profileData.currentJob" class="m0">
                <ion-list-header color="labelcolor">Current Job
                </ion-list-header>
                <ion-item>
                     Company
                    <ion-note item-end>
                        {{profileData.currentJob.company}}
                    </ion-note>
                </ion-item>
                <ion-item>
                     Department
                    <ion-note item-end>
                        {{profileData.currentJob.department}}
                    </ion-note>
                </ion-item>
                <ion-item>
                     Since Working
                    <ion-note item-end>
                        {{profileData.currentJob.working}}
                    </ion-note>
                </ion-item>
                <ion-item>
                     Position
                    <ion-note item-end>
                        {{profileData.currentJob.position}}
                    </ion-note>
                </ion-item>
            </ion-list>
       </ion-list>
       <!-- <ion-list>
       	follower :- {{profileData.}}
       </ion-list>
       <ion-list>
       	follower :- {{profileData.}}
       </ion-list> -->
 
</ion-content>
