page-user-profile {
.p0{
        padding: 0px;
        .item-inner{
            padding: 0px!important;
        }
        ion-label{
            margin: 0px;
        }
    }
    .p8{
        padding: 8px;
    }
    .m0{
        margin: 0px;
    }
    .mt16{
        margin-top: 16px;
    }
    .profilePic img{
        height: 150px;
        width: 150px;
        display: block;
        margin: 0 auto;
    }
}
