<ion-header>
    <ion-navbar hideBackButton="true" color="header">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="homeSection">
    <ion-card>
        <ion-list>
            <form (ngSubmit)="OnPostMessage(f)" #f="ngForm">
                <ion-item>
                    <ion-textarea name="message" id="message" [(ngModel)]="users.message" placeholder="What's on your mind?" required></ion-textarea>
                </ion-item>
                <img *ngIf="url1" src="{{url1}}">
                <ion-item>
                    <span id="hide" item-left>
                        <label class="hand-cursor">
                            <input type="file" ng2FileSelect [uploader]="uploader" (change)="readUrl1($event)"/>
                            <ion-icon name="camera" class="icon_size"></ion-icon>
                        </label>
                    </span>
                   
                    <button ion-button icon-left  item-end small color="btncolor" [disabled]="!f.valid" class="postButton" type="submit">Post</button>
                </ion-item>
            </form>
        </ion-list>
    </ion-card>

    <ion-card *ngFor="let data of postData">

        <ion-item>
            <ion-avatar item-start *ngIf="data.user">
                <img *ngIf="data.user.user_image" src="{{data.user.user_image}}">
                <img *ngIf="!data.user.user_image" src="assets/imgs/man.png">
            </ion-avatar>
            <h2 *ngIf="data.user.firstname">{{data.user.firstname}} &nbsp;{{data.user.lastname}}</h2>
            <h2 *ngIf="!data.user.firstname">No User</h2>
            <p>{{data.createdAt | amTimeAgo}}</p>
        </ion-item>

        <img *ngIf="!data.imageUrl" src="assets/imgs/scenery.jpg">
        <img *ngIf="data.imageUrl" src="{{data.imageUrl}}">

        <ion-card-content>
            <p>{{data.message}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small color="btncolor">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{data.rating}}</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small (click)="commentPage(data._id)" color="btncolor">
                    <ion-icon name="text"></ion-icon>
                    <div>{{data.comments.length}}</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <button ion-button icon-left clear small (click)="ratingPage(data._id)" color="btncolor">
                    <ion-icon name="star"></ion-icon>
                    <div>Rate it</div>
                </button>
            </ion-col>
        </ion-row>

    </ion-card> 

    
</ion-content>