page-comment {
    .homeSection {
        background-color: #DFD9D9;
    }
    .bb1{
        border-bottom: 1px solid #ededed;
    }
   .f25{
       font-size: 25px;
   }
    .commentbtn{
        margin: 4px;
        border-radius: 50px;
        height: 40px!important;
        width: 40px;
    }
}
